body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.textbox {
  height: 20vmax;
  width: 25vmax;
}

@media screen and (max-width: 600px) {
  .babyyoda {
    height: 10vmax !important;
    margin-top: 3%;
  }

  #particles-js {
    background-color: rgb(34, 34, 34);
    background-repeat: repeat;
    height: 115vmax !important;
  }
  .navbar-logo {
    display: none;
  }
  .logo {
    display: none;
  }
  .navbar-logo {
    width: 10% !important;
    height: auto;
  }
}
@media screen and (max-width: 1300px) {
  .card {
    visibility: hidden;
    position: absolute;
    top: -9999px;
  }
  .logo {
    display: none;
  }
  .babyyoda {
    height: 60vmax !important;
    margin-top: 3%;
  }
  .menupreview {
    display: none;
  }
}

#particles-js {
  background-color: rgb(34, 34, 34);
  position : absolute; 
  width:100%;
  z-index:-1;
}


.babyyoda {
  border-radius: 15px;
  padding: 20px;
  background-color: rgb(51, 51, 51);
  width: 45vmax;
  margin-top: 5%;
  margin-left: 6%;
  margin-right: 1% !important;
  position: absolute !important;
  color: white;
  word-wrap: break-word;  
}

.logo {
  position: absolute;
  margin-left: 65%;
  margin-top: -15%;
  vertical-align: middle;
  float: right;
  width: 20% !important;
  height: auto;
  background-color: rgb(51, 51, 51);
  border-radius: 50% !important;
}




.button {
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(51, 51, 51);
  color: white;
  border: 2px solid #4c7aaf;
  margin-bottom: 2%;
}

.button:hover {
  background-color: #4c7aaf;
  color: white;
}

.socialbuttons form {
  margin-top: 10%;
  float: left;
  margin-right: 15px;
}
.socialbuttons {
  height: 50px;
}

.twitter {
  height: 100%;
  width: 120px;
  line-height: 40px;
}
.discord {
  height: 100%;
  width: 120px;
  line-height: 40px;
}
.download {
  height: 100%;
  width: 120px;
  line-height: 40px;
  display: table;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(51, 51, 51);
  color: white;
  margin-bottom: 2%;
  font-size: 16px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

/*----------multi-level-accordian-menu------------*/
.navbar-logo {
  color: #fff;
  width: 3%;
  height: auto;
}
.navbar-mainbg {
  background-color: #292929;
  padding: 0px;
  position: absolute;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 10px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: #ffffff;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}
.hori-selector {
  position: absolute;
  height: 5%;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #4c7aaf;
  border-radius: 15px;
}
.hori-selector .right,
.hori-selector .left {
  position: absolute;
  height: 50px;
  background-color: #fff;
}
.hori-selector .right {
  right: -25px;
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #292929;
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}

.con1 {
  color: white;
  float:left !important; 
}

.header {
  color: white;
  position: absolute;
  text-align: center;
	top: -80%;
  margin-top: 40%;
  margin-left: 140%;
}

.transition { transition: .3s cubic-bezier(.3, 0, 0, 1.3) }
.card {
    background-color: rgb(51, 51, 51) !important;
    bottom: 0;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    height: 350px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    border: none;
}
.card:hover {
    height: 500px;
    width: 300px;
}
.card:hover .cta-container {
    display: inline;
    margin-top: 380px;
}
.card:hover .card_circle {
    background-size: cover;
    border-radius: 0;
    margin-top: -130px;
}
.card:hover h2 {
    background: #4c7aaf;
    color: #fff;
    margin-top: 150px;
    padding: 5px;
}
.card:hover h2 small { color: #fff }
.card:hover p { margin-top: 300px }
.card_circle {
    background: url('https://images-ext-1.discordapp.net/external/j9fqYg3V0F0Oh7w5126QR721IJC2vwuLzqJ_uNpxq70/https/tweak-bot.tk/assets/tweak.png?width=676&height=676') no-repeat center bottom;
    background-color: #4c7aaf;
    background-size: cover;
    border-radius: 50%;
    height: 400px;
    margin-left: -75px;
    margin-top: -280px;
    position: absolute;
    width: 450px;
}
.card h2 {
    color: #4c7aaf;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-top: 150px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.card p {
  padding-right: 10px;
  padding-left: 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin-top: 200px;
    position: absolute;
    text-align: center;
    z-index: 9999;
}
.cta-container {
    display: none;
    margin-top: 320px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.cta {
    -moz-border-radius: 2px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    border: 2px solid #4c7aaf;
    border-radius: 2px;
    color: #4c7aaf;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
    margin-top: 20%;
}
.cta:hover {
    background-color: #4c7aaf;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
